.card__img {
    width: 210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 305px;
}

.card {
    display: flex;
    text-align: center;
    display: absolute;
    right: -50px;
    border: none;
    padding-bottom: 20px;
}
 
.cards {
    padding-bottom: 15px;
    width: 210px;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
}