@media (min-width: 992px){
    .navbar-expand-lg1 {
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        bottom: 0px;
    }
}

@media (min-width: 992px) {
.navbar-expand-lg1 .navbar-toggler {
    display: none;
}
}

@media (min-width: 992px) {
.navbar-expand-lg1 .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}

}

@media (min-width: 992px) {
.navbar-expand-lg1 .navbar-nav {
    flex-direction: row;
}

}

.menu-active {
    /* color: aqua !important; */
    font-weight: bold ;
    border-bottom: 1px solid white;
}
.nav-item:hover {
    background-color: #fb9327;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    /* margin: 1px 34px; */
}