.cal {
    /* text-align: center; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(0,0,0,.125);
   
}

/* .cal1 {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;

} */

.screen {
    width: 326px;
    font-size: 2rem;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: white;
    border: none;
}

.btn1 {
    background-color: rgba(225,225,225);
    border: 1px solid black;
    width: 65px;
    height: auto;
    font-size: 4rem;
    transition: all 1s ease-in-out;
}

.btn2 {
    background-color: rgba(245,146,62);
    border: 1px solid black;
    width: 65px;
    height: auto;
    font-size: 4rem;
    transition: all 1s ease-in-out;
}

.btn3 {
    background-color: rgba(225,225,225);
    font-size: 4rem;
    border: 1px solid black;
    transition: all 1s ease-in-out;
}

.equal {
    background-color: green;
    border: 1px solid black;
    width: 65px;
    height: auto;
    font-size: 4rem;
    transition: all 1s ease-in-out;
}

.clear {
    font-size: 4rem;
    width: 65px;
    height: auto;
    border: 1px solid black;
    background-color: red;
    transition: all 1s ease-in-out;
}

section {
    display: block;
}



.btn1:hover {
    background-color: blue;
    color: white;
}

.btn2:hover {
    background-color: blue;
    color: white;
}

.clear:hover {
    background-color: blue;
    color: white;
}

.equal:hover {
    background-color: blue;
    color: white;
}

